*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
}

.header-top {
    border-bottom: 1px solid rgb(229,232,237);
    min-height: 32px;
    padding-top:5px;
    padding-bottom: 35px;
    padding-left: 10px;

}

.new-botton{
    background-color: #00d7d2;
    color: rgb(3,27,78):
    font-family: 'Sailec-Medium','Helvetica','sans-serif';
    line-height: 1px;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    padding: 9px 8px;
    font-size: 9px;
    margin-right: 10px;
    margin-left: 12px;
    margin-top: 5px;
    float: left;
}

.text-header {
    float: left;
    font-size: 12px;
    line-height: 160%;
    font-weight: bold;
    font-style: normal;
    margin-top: 5px;


}


.title{
text-decoration: none;
color:#5b6987 ;
}

.title:hover{
text-decoration: none;
color:#337ab7;
}

.navbar-nav>li>a  {
color:#5b6987;
font-size: 12px;
line-height: 160%;
font-weight: bold;
font-style: normal;
display: inline;
}

.nav>li>a:focus,.nav>li>a:hover {
    text-decoration: none;
    background-color:white;
    color:#337ab7
}

.logo{
    height: 29px;
    width: 172px;
    margin-right: 50px;
    margin-top: 17px;

}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: white;
}

#navbar-item{
    color: #031b4f;
    font-family: "Helvetica";
    font-size: 14px;
    font-weight: bold;
    display: block;
}



#navbar-item:hover{
color: #006aff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {

    padding-bottom: 8px;
    padding-top: 8px;
}


.btn-default-prime{
    background-color: transparent;
    border-color: #006aff;
    color: #006aff;
    font-family: 'Sailec-Bold','Helvetica','san-serif';
    font-size: 14px;
    font-weight: bold;
    margin-left: 24px;
}

.btn-default-prime:hover{
    background: hsl(215,100%,50%);
    color: hsl(0,0%,100%);
}

.btn-default-second{
    background-color: #006aff;
    border-color: #006aff;
    color: white;
    font-family: 'Sailec-Bold','Helvetica','san-serif';
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 15px;
    display: inline-block;
}


.jumbo {
    background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
    background-size: cover;
    background-position: center;
    height: 800px;

}

.h1-jumbo {
    vertical-align: middle;
    color:white;
    font-size: 58px;
    font-weight: bold;
    line-height: 120%;
    font-family: 'Sailec-Bold','system-ui','-apple-system','BlinkMacSystemFont','Segoe UI','Roboto','Helvetica Neue','Helvetica','Arial','sans-serif';
    width: 60%;
    padding-left: 57px;
    padding-top: 245px;
}

    .p-jumbo {
    width: 80%;
    color: white;
    font-family: 'arial';
    font-size: 24px;
    line-height: 150%;
    padding-left: 57px;

    }
.check-box{
    background-color: white;
    height: 480px;
    width: 380px;
    margin-right: 50px;
    margin-top:126px;
    border-radius: 5px;
    padding-bottom: 5px;

}

#text, #email, #password {
    width: 80%;
    height: 48px;
    border: 1px solid #e5e8ed;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 8px;
    font-family: 'arial';
    font-size: 16px;
    padding: 16px;
    color: #031b4e;
    margin-left: 35px;
    margin-top: 2px;
}


.h5-title-checkbox {
    color: #031b4e;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 45px;
    padding-top: 24px;

}

.btn-checkbox-second {
    display: block;
    background-color: #006aff;
    border-color: #006aff;
    color: white;
    font-family: 'Sailec-Bold','Helvetica','san-serif';
    font-size: 16px;
    font-weight: bold;
    padding: 15px 60px;
    margin-left: 36px;
    width: 80%;
    border-radius: 4px;
}

.btn-checkbox-second:hover{
background-color: #1633ff;
}


.btn-checkbox-prime {
    display: inline-block;
    background-color: transparent;
    border-color: 1px solid #006aff;
    color: #006aff;
    font-family: 'Sailec-Bold','Helvetica','san-serif';
    font-size: 16px;
    font-weight: bold;
    width: 60%;
    margin-top: 70px;
    margin-left: 36px;
    padding: 15px 15px;
    border-radius: 4px;
    margin-bottom: 37px;
}
    .btn-checkbox-prime:hover {
    border-color:#363636;
    color: #363636;
    font-weight: bold;
    max-width: 870px;
    }

.btn-checkbox-third{
    display: inline-block;
    background-color: transparent;
    border-color: #006aff;
    color: #006aff;
    font-family: 'Sailec-Bold','Helvetica','san-serif';
    font-size: 16px;
    font-weight: bold;
    width: 10%;
    margin-top: 70px;
    padding: 15px 34px 15px 19px;
    border-radius: 4px;
}
.btn-checkbox-third:hover{
    border-color: #006aff;
    font-weight: bold;
    border-color:  #363636;

}


.check-bottom{
    color:white;
    text-align: center;
    margin-top:10px;
    font-size: 14px;
}

.logos {
    background-color: #f3f5f9;
    text-align: center;
    padding-bottom:50px;
}

.h6-logos {
    opacity: 1;
    color: #5b6987;
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
    text-transform: uppercase;
    padding-top: 54px;
    padding-bottom: 26px;
    text-align: center;
}

.logos-link {
    text-align: center;
    color: #0069ff;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    text-decoration: none;
}

p>a:hover {
    color:#1633ff ;
    text-decoration: none;
}


.deploy{
    height: 896px;
    padding-top: 107px;
}
.title-paragraph{
        color:#031b4e;
        font-weight: bold;
        text-align: center;
        font-size: 36px;
        line-height: 110%;
}

.paragraph-deploy {
        color: #5b6987;
        font-family: 'arial';
        font-size: 20px;
        font-weight: 100px;
        line-height: 150%;
        text-align: center;



}





@media screen and (max-width:420px) {

.header-top {
display: none;
}

.check-box {
width: 250px;

}

}

@media screen and (max-width:992px) {

.header-top {
display: none;
}
